<ul class="project-list">
  <% for(var obj in site.data.projects){ %>
    <li class="project-item">
      <div class="meta">
        <% if (site.data.projects[obj].date_end) { %>
          <%= date(site.data.projects[obj].date_start, 'YYYY') + ' - ' + date(site.data.projects[obj].date_end, 'YYYY') %>
        <% } else { %>
          <%= date(site.data.projects[obj].date_start, 'YYYY') + ' - now' %>&nbsp;
        <% } %>
      </div>
      <span><a href="<%= site.data.projects[obj].url %>"><%= site.data.projects[obj].name %></a>:&nbsp;<%- markdown(site.data.projects[obj].desc) %></span>
    </li>
  <% } %>
</ul>
